---
import Navigation from "../components/Navigation/Navigation";
import Footer from "../components/Footer";
import { ModalProvider } from "../components/Modal/ModalContext";
import "../styles/global.css";

export interface Props {
  title: string;
  showFooter?: boolean;
}

const { title, showFooter = true } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <ModalProvider client:load>
      <div>
        <Navigation client:load />
        <div class="relative">
          <slot />
        </div>
        {showFooter && <Footer client:load />}
      </div>
    </ModalProvider>
  </body>
</html>